<!-- app/views/urlshortener/display_all_urls.html.erb -->

<!DOCTYPE html>
<html>
<head>
  
  <title>summary of urlshortener  </title>
  <style>
 body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>');
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
.con{
  margin:40px 50px;
}
.white{
    color:white;
}
.length{
  width: 50%;
}

.btn
{
  float:right;
  color: white;
}
.btn:hover{
  color: white;
}
  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
 

 <br>
    <br>
  <center>
  <h1 class="white" >Urls Shortened Untill Now..</h1>

  <div class="length white">
  <hr class="my-4 white">


  
  

   </center>   
   </div>
<div class="con">
  <div class="row">
        <div class="col-md-2">
            <input type ="button" class="btn-primary " id="btnclick" value="go back to shorten page">
        </div>

        <div class="col-md-8">
          
              <div class="pagination-container">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                      <%= will_paginate @summary, renderer: WillPaginate::ActionView::LinkRenderer, class: 'btn' %>
                  </ul>
                </nav>
              </div>
         

        </div>

        <div class="col-md-2">

              <div class="btn">
                    <a href="generate_pdf_summary">
                      <p>
                        <h5>
                          
                          <i style="color:red;" class="fas fa-download"> Click here to download</i>
                    
                        </h5>
                        </p>
                      </a>

              </div>

        </div>
        </div>

  <% if @summary.any? %>
<%# <center> %>

     
    <%# </center> %>

     


    <table class="super-table">
      <thead>
        <tr>
          
          <th><center>Urls count</center></th>
          <th><center>Original URL</center></th>
          <th><center>Shortened URL</center></th>
        
        </tr>

      </thead>
      <tbody>
        <% @summary.each_with_index do |url, index| %>
          <tr>
            <td><%= (@user_urls.current_page - 1) * @user_urls.limit_value + index + 1 %></td>
            <td> <a href = <%= url.original_url %>  target="_blank"> <%= url.original_url %> </td>
            <td > <a href= <%= url[:shortened_url] %>  target="_blank">    <p class="hoveers"><%= url[:shortened_url] %>     </p>    </a>   <span style="margin-left:20px;"><i class="fa fa-copy" class="btn-primary1" type="button"  onclick="copyText('<%= url[:shortened_url] %>')"></i> </span></td>

          </tr>
        <% end %>
      </tbody>
    </table>


         


  <% else %>
  <div class="container">
    <center>
    <h2>No URLs found.</h2>
    </centerra>
    </div>

  <% end %>
  </div>
  
  
</body>

<script>
  document.getElementById('btnclick').addEventListener('click', function() {
    window.location.href = "/upload"; 
  });
  
  function copyText(shortenedUrl) {
    var inputField = document.createElement("input");
    document.body.appendChild(inputField);
    inputField.setAttribute('value', shortenedUrl);
    inputField.select();
    document.execCommand('copy');
    document.body.removeChild(inputField);
    alert("Copied the text: " + shortenedUrl);
  }

  $(document).ready(function() {
    if ($('#alert').length > 0) {
      $('#alert').delay(3000).fadeOut('slow');
    }

    if ($('#error-alert').length > 0) {
      $('#error-alert').delay(8000).fadeOut('slow');
    }
  });

</script>


</html>
