<!-- app/views/urlshortener/display_all_urls.html.erb -->
<!DOCTYPE html>
<html>
<head>
  
  <title>summary of urlshortener  </title>
  <style>
 body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>');
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
.super-table {
  border-collapse: collapse;
  width: 100%;
}

.con{
  margin:40px 50px;
}
.super-table th {
  border: 3px solid cyan;
  padding: 20px;
  text-align: center;
  color: black;
  
}


.super-table td {
  color:red;
  border: 2px solid black;
  padding: 20px;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; 
  /* white-space: nowrap; */
}


.super-table tr{
  background-color: white;
  color: white;
}
.white{
    color:white;
}
.length{
  width: 50%;
}
  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
 

 <br>
    <br>
  <center>
  <h1 class="white" >Urls Shortened Untill Now..</h1>

  <div class="length white">
  <hr class="my-4 white">


     <div class="btn">
      <a href="generate_pdf_summary">
        <p>
          <h4>
            
          <i style="color:red;" class="fas fa-download"> Click here to download</i>
          
        </h4>
        </p>
      </a>

    </div>
  

   </center>   
   </div>
<div class="con">
 

  <% if @summary.any? %>
    <table class="super-table">
      <thead>
        <tr>
          
          <th><center>Urls count</center></th>
          <th><center>Original URL</center></th>
          <th><center>Shortened URL</center></th>
        
        </tr>

      </thead>
      <tbody>
        <% count = 0%>
        <% @summary.each do |url| %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= url.original_url %></td>
            <td><%= url.shortened_url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="container">
    <center>
    <h2>No URLs found.</h2>
    </centerra>
    </div>

  <% end %>
  </div>
  
  
</body>
</html>
