<!DOCTYPE html>
<html lang="en">
<head>
    <style>
          .url-container {
      margin-bottom: 20px;
    }
    .url-container label {
      font-weight: bold;
      color:white ;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
      body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>');
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
    /* .url-container input{
      width: 100%;
      height : 80px;
      margin-top: 5px;
      padding: 8px;
      font-size: 16px;
      border-radius:10px;
     
    } */
    .url-container a {
      word-break: break-all;
      display: block;
      margin-top: 5px;
    }
    .btn1
    {
      color:black;
      font-size: 20px;
    }
    .white-box {
      background-color: white;
      border: 1px solid #ccc;
      padding: 25px;
      border-radius: 5px;
    }
    .fa-copy{
    color: black;
    margin-top : -20px;
    margin-left: 0px;
    border-radius: 3px;
    font-size: 22px;
    float: right;
  }
  a 
  {
    color : black;
    text-decoration : none;

  }

        </style>

</head>
<body>
 
  <%= render "urlshortener/navbar" %>

  <div class="container">
    <div class="login-form1">
      <% if @input_urls.any? %>
        <% @input_urls.each do |url| %>
          <div class="url-container">
            <label for="originalUrl">Original URL:</label>
            <br>
            <br>
                <div class="white-box form-control" id="originalUrl"><%= url[:original_url] %>
                </div>
                
          </div>

          <div class="url-container">
            <label for="shortUrl"><p style="color:#8eecf5;">Short URL:</p></label>
            <div class="white-box form-control" id="shortUrl">
              <a href = <%= url[:shortened_url] %> target="_blank" ><%= url[:shortened_url] %> </a> <span><i class="fa fa-copy" type="button" onclick="copyText('<%= url[:shortened_url] %>')"></i></span>
            </div>

          </div>
        <% end %>
      <% else %>
        <p>No URLs found</p>
      <% end %>

   </div>
  <div class="url-container">

 
          <input id ="btnclick"class="btn1 form-control" value="Short Next" type="button">
    </div>
  
  </div>
  </div>


<script>

    document.getElementById('btnclick').addEventListener('click', function() {
  window.location.href = "/upload"; 
  });
  
  function copyText(shortenedUrl) {
    var inputField = document.createElement("input");
    document.body.appendChild(inputField);
    inputField.setAttribute('value', shortenedUrl);
    inputField.select();
    document.execCommand('copy');
    document.body.removeChild(inputField);
    alert("Copied the text: " + shortenedUrl);
  }

  
</script>
</body>
</html>
