
<!DOCTYPE html>
<html>
<head>
  
  <title>Users list  </title>
  <style>
 body {
      font-family: Arial, sans-serif;
      background-color: #343a40;
      /* background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>'); */
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
.con{
  margin:40px 50px;
}
.white{
    color:white;
}
.length{
  width: 50%;
}
a 
  {
    color : #8eecf5;
    text-decoration : none;

  }
  a:hover{
    color:#3a86ff;
  }
  .btn
{
  float:right;
}

  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
 

 <br>
    <br>
  <center>
  <h1 class="white">All Users List</h1>

  <div class="length white">
  <hr class="my-4 white">

   


   </center>   
   </div>
<div class="con">


  <div class="row">
    <div class="col-sm-3">
       <a  class="goback"href="/upload"> Shorten another URL </a> 
    </div>

    <div class="col-sm-6">
    
    
    </div>


    <div class="col-sm-3">

     <div class="btn">
      <a href="/generate_User_summary">
        <h5>
          <i class="fas fa-download"></i>
         Download
        </h5>
      </a>

    </div>
    
    </div>
  </div>
  <br>
  <br>
  <br>

   

  
 

  <% if @user.any? %>

    <table class="super-table">
      <thead>
        <tr>
          
          <th><center>User id</center></th>
          <th><center>User Name</center></th>
          <th><center>User Mail id</center></th>
        
        </tr>

      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="container">
    <center>
    <h2>No User Found</h2>
    </centerra>
    </div>

  <% end %>
  </div>
  
  
</body>

<script>
  document.getElementById('btnclick').addEventListener('click', function() {
    window.location.href = "/upload"; 
  });

  </script>
</html>
