
<!DOCTYPE html>
<html>
<head>
  
  <title>Users list  </title>
  <style>
 body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>');
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
.super-table {
  border-collapse: collapse;
  width: 100%;
}

.con{
  margin:40px 50px;
}
.super-table th {
  border: 3px solid cyan;
  padding: 20px;
  text-align: center;
  color: black;
  
}


.super-table td {
  color:red;
  border: 2px solid black;
  padding: 20px;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; 
  /* white-space: nowrap; */
}


.super-table tr{
  background-color: white;
  color: white;
}
.white{
    color:white;
}
.length{
  width: 50%;
}
a 
  {
    color : red;
    text-decoration : none;

  }
  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
 

 <br>
    <br>
  <center>
  <h1 class="white">All Users List</h1>

  <div class="length white">
  <hr class="my-4 white">
   </center>   
   </div>
   
<div class="con">
  <input type ="button" class="btn-primary " id="btnclick" value="go back to shorten page">
  <br>
  <br>
  <br>
 

  <% if @user.any? %>
  <center>

  <div class="btn">
      <a href="/generate_User_summary">
        <h4>
          <i class="fas fa-download"></i>
          Click here to download
        </h4>
      </a>

    </div>
  
  </center>
    <table class="super-table">
      <thead>
        <tr>
          
          <th><center>User id</center></th>
          <th><center>User Name</center></th>
          <th><center>User Mail id</center></th>
        
        </tr>

      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="container">
    <center>
    <h2>No User Found</h2>
    </centerra>
    </div>

  <% end %>
  </div>
  
  
</body>

<script>
  document.getElementById('btnclick').addEventListener('click', function() {
    window.location.href = "/upload"; 
  });
</script>


</html>
