<!DOCTYPE html>
<html>
<head>
  <title>forgot password</title>
    <style>


           body {
                background-image: url('<%= asset_path('pexels-photo-1365795.jpeg') %>');
                background-size: cover;     
                background-position: center; 
                font-family: Arial, sans-serif;
                margin: 0;
              }
              .login-form {
               padding : 40px ;
               background-color: #0d1b2a;
               background-size: cover;     
               background-position: center center; 
               border-radius: 50px;
               min-width:40%;
               max-width:80%;
          
              }
              .btn-primary
              {
                width:50%;
              }
              .back{
                margin-top:40px;
                color:red;
              }
              .form{
                height:50px;
              }
              h3{
                color:white;
              }
              h5{
                color:white;
              }
    </style>
  </head>
      <body>
            <div>  
            <%= render  "home/navbar1" %>

             <% if flash[:success].present? %>
  
    <h5 class="alert alert-success show" id="success"><%= flash[:success]%></h5>
  

    <% end %>
        <% if flash[:token].present? %>
  
            <h5 class="alert alert-success show" id="token1"><%= flash[:token]%></h5>

        <% elsif flash[:error].present? %>
             
            <h5 class="alert alert-success show" id="error"><%= flash[:error]%></h5>


  

    <% end %>

            </div>
          
               <div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
                  <div class="login-form">
                   <form action="/password_reset" method="post">
                    
                    <h2 style="color:white;">Reset Password here </h2>
                    <br>
                    <label for="newpassword"><h4 style="color:white;">New Password</h4></label>
                    <p style="color:#8eecf5;"> (Password length Should have six characters)</p>
                
                    <input type="text" id="newpassword" name="newpassword"  class="form-control form"required><br>

                     <label for="confirmpassword"><h4 style="color:white;">Confirm New Password Password</h4></label>
                    <br><br>
                    <input type="password" id="confirmpassword" name="confirmpassword"  class="form-control form"required><br>

                    <br>
                     <input type="checkbox" onchange="togglePassword();" /> <span style="color:white;"> Show Password</span>
                     <br>
                     <br>
                    <center>
                    <input type="submit" class="btn1 form-control"value="Reset Password">
                  </form>
                  <br>
                      <div>
                  <a href="/logins" > <h5 class="back" style="color:white;">Go back to the Login page</h5></a>
                      </div>    
                      </center>                   
                  </div>
                </div>
            
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

<script>

     function togglePassword() {
    var passwordField = document.getElementById('confirmpassword');

    if (passwordField.type === 'password') {
      passwordField.type = 'text';
    } else {
      passwordField.type = 'password';
    }
  }

  $(document).ready(function() {
    if ($('#success').length > 0) {
      $('#success').delay(3000).fadeOut('slow');
    }

    if ($('#error').length > 0) {
      $('#error').delay(3000).fadeOut('slow');
    }

     if ($('#token1').length > 0) {
      $('#token1').delay(3000).fadeOut('slow');
    }
  });

</script>

</html>