
<!DOCTYPE html>
<html>
<head>
  
  <title>summary of urlshortener  </title>
  <style>
 body {
      font-family: Arial, sans-serif;
      background-color: #343a40;
      /* background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>'); */
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
   
    .white{
    color:white;
    }
    .length{
    width: 50%;
    }

.con{
  margin:40px 100px;
}

.super-table th {
  border: 3px solid cyan;
  padding: 20px;
  max-width:40px;
  text-align: center;
  color: white;
  
}
a
{
    color:white;
    text-decoration:none;
}
a:hover{
    color: yellow;
}
.btn
{
  float: right;
}

  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
 

    <br>
    <br>
  <center>
  <%# <h1 class="white" >Detailes</h1> %>

  <div class="length white">
  <hr class="my-4 white">
   </center>   
   </div>


<div class="con">


    <div class="row">
        <div class="col-md-2">
            <a  class="goback"href="/upload"> Shorten another URL </a> 
        </div>

        <div class="col-md-8">
          
              
         

        </div>

        <div class="col-md-2">

              <div class="btn">
                    <a href="/dowload_details">
                      <p>
                        <h5 class="goback">
                          
                          <i style="color:cyan;" class="fas fa-download"> Download</i>
                    
                        </h5>
                        </p>
                      </a>

              </div>

        </div>
        </div>
        <br>
        <br>
        <br>


  <table class="super-table">
      <tbody>


         <tr>
            <th>User id</th>
            <td> <%= @user.id%></td>
          </tr>

          <tr>
            <th>User Name</th>
            <td> <%= @user.username%></td>
          </tr>

          <tr>
            <th>Email</th>
            <td> <%= @user.email%></td>
          </tr>

          <tr>
            <th>Total URLS shortened</th>
            <td> <%= @user.urls.count%></td>
          </tr>
              <% if @urls.any?%>
          <tr>
            <th> First Url shortened</th>
            <td> <a href= <%= @first%> target="_blank"> <%= @first%></a> </td>
          </tr>


          <tr>
            <th> Last Url shortened</th>
            <td> <a href= <%= @last%> target="_blank">  <%= @last%> </a> </td>
          </tr>


          <tr>
            <th> Most shortened Url</th>
            <td> <a href = "<%= @most_used%>"  target="_blank">   <%= @most_used%> </a> <span style="color:white;"> , count  (<%= @most_count%>) </span></td>
          </tr>

         <tr>
            <th> Least shortened Url</th>
            <td> <a href = <%= @least_used%> target="_blank"> <%= @least_used%> <span style="color:white;"> , count  (<%= @least_count%>) </span></td>
          </tr>
        

          <tr>
            <th> Download the All urls Shortened</th>
            <td> <a href="/generate_pdf_summary"> Download the Urls List</a></td>
          </tr>

          <%# <tr>
            <th> Download the All Users List</th>
            <td> <a href="/generate_User_summary"> Download the Urls List</a></td>
          </tr> %>


        <% else %>
        <div>
        <center>

        <h1 style = "color:red;" class="form-control">  No urls shortened yet now </h1>

        </center>
        <br>
        <br>
        </div>
        <% end %>


      </tbody>
    </table>

</div>

</body>

<script>

    document.getElementById('btnclick').addEventListener('click', function() {
    window.location.href = "/upload"; 
  });
</script>
</html>
