
<!DOCTYPE html>
<html>
<head>
  
  <title>summary of urlshortener  </title>
  <style>
 body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>');
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
   
    .white{
    color:white;
    }
    .length{
    width: 50%;
   }
.con{
  margin:40px 100px;
}
a
{
    color:white;
    text-decoration:none;
}
a:hover{
    color: yellow;
}
.btn
{
  float: right;
}
    

  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
 

 <br>
    <br>
  <center>
  <%# <h1 class="white">Summary report of <span style="color:red;"><%= @user.username.upcase%> 

  <div class="length white">
  <hr class="my-4 white">
   </center>   
   </div>

<div class="con">


    <div class="row">
        <div class="col-md-2">
            <a  class="goback"href="/upload"> Shorten another URL </a> 
        </div>

        <div class="col-md-8">
          
              
         

        </div>

        <div class="col-md-2">

              <div class="btn">
                    <a href="/summary_details">
                      <p>
                        <h5>
                          
                          <i style="color:red;" class="fas fa-download"> Click here to download</i>
                    
                        </h5>
                        </p>
                      </a>

              </div>

        </div>
        </div>
        <br>
        <br>
        <br>
        <h3 style="color:cyan; margin-bottom:30px;">
          User Details : 
        </h3>

  <table class="super-table">
      <tbody>


         <tr>
            <td style="border-color:cyan;">User id</td>
            <td> <%= @user.id%></td>
          </tr>

          <tr>
            <td style="border-color:cyan;">User Name</td>
            <td> <%= @user.username%></td>
          </tr>

          <tr>
            <td style="border-color:cyan;"> Email</td>
            <td> <%= @user.email%></td>
          </tr>

          <tr>
            <td style="border-color:cyan;">Total URLS shortened</td>
            <td> <%= @user.urls.count%></td>
          </tr>


      </tbody>
    </table>


</div>
<center>
<div class="length white">
  <hr class="my-4 white">
</center>

<div class="con">
 <h3 style="color:white; margin-bottom:30px;"> Total Urls shortened untill Now is <span style ="color: #007bff; margin:10px;"> <%=@user.urls.count%> </span>  For dowloading the List of Urls created and shortened  untill now &nbsp; &nbsp;&nbsp;<a href= "/generate_pdf_summary" >   <i style="color:#3a86ff;" class="fas fa-download">  click </i> </a> </h3>

</div>

<center>
<div class="length white">
  <hr class="my-4 white">
</center>

<div class="con">

  <h3 style="color:cyan; margin-bottom:30px;">
        URL shortened Most Times :   <a href = "<%= @most_used%>"  target="_blank">   <%= @most_used%> </a> <span style="color:white;"> <b>, count  (<%= @most_count%>) </b></span>
  </h3>

  <center>
<div class="length white">
  <hr class="my-4 white">
</center>


  <div class="row">
    <div class="col-md-3">
    <h4 style="color:white;  margin-bottom:30px;"> Shortened Urls for above url : </h4>
    </div>

     <div class="col-md-6">
<%#           
              <div class="pagination-container">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                      <%= will_paginate @urls_paginate, renderer: WillPaginate::ActionView::LinkRenderer %>
                  <%# </ul> %>
                <%# </nav> %>
              <%# </div> %> 
         

        </div>

    <div class = "col-md-3">
      
      <div class=" btn">

          <a href="/most_used_url_details">
            <p>
              <h5 class=" download goback">
                
                <i style="color:#3a86ff;" class="fas fa-download"> Download</i>
          
              </h5>
              </p>
            </a>

      </div>

    </div>
  </div>


     <table class="super-table">
      <tbody>

    <% if @url_data.any?%>   

    <thead>
        <tr>
          
        
          <th><center>Shortened URL</center></th>

          <th><center>Created At</center></th>
        
        </tr>

      </thead>
      <tbody>
   
      

       <% @url_data.each_with_index do |short_url, index| %>
         <tr>
            <td> <a href = <%= short_url %> target="_blank"> <%= short_url %></td>
            <td> <%= @created_at_times[index].strftime("%d-%m-%Y %H:%M:%S") %> </td>
          </tr>
        <% end %>

      <% end %>
      </tbody>
    </table>


</div>

</body>

<script>

    document.getElementById('btnclick').addEventListener('click', function() {
    window.location.href = "/upload"; 
  });
</script>
</html>
