<!-- app/views/urlshortener/display_all_urls.html.erb -->
<!DOCTYPE html>
<html>
<head>
  
  <title>summary of urlshortener  </title>
  <style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      background-image: url('<%= asset_path('pexels-tofroscom-257853.jpg') %>');
      margin: 0;
      background-size: cover; 
      background-position: center center; 
     
      font-family: Arial, sans-serif;
  
    }
.super-table {
  border-collapse: collapse;
  width: 100%;
}

.con{
  margin:40px 50px;
}
.super-table th {
  border: 3px solid cyan;
  padding: 20px;
  text-align: center;
  color: black;
  
}


.super-table td {
  color:red;
  border: 2px solid black;
  padding: 20px;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; 
  /* white-space: nowrap; */
}


.super-table tr{
  background-color: white;
  color: white;
}
.white{
    color:white;
}
.length{
  width: 50%;
}
.hoveers {
    position: relative;
    display: inline-block;
  }
 .fa-copy:hover::before {
    content: "Copy the link";
    position: relative;
    margin-left: 0px;
    padding: 5px 8px;
    background-color: red;
    color: black;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1;
  }

  a 
  {
    color : red;
    text-decoration : none;

  }
  
  </style>
</head>

<body>
  <%= render  "urlshortener/navbar" %>
    <% if flash[:success].present? %>
  <div class="alert fade show" id="alert">
    <% if flash[:success].is_a?(String) %>
      <div class="form-control">
        <h4 style="color: red;"><%= flash[:success] %></h4>
      </div>
    <% end %>
  </div>
<% end %>
<% if flash[:error].present? %>
  <div class="alert fade show" id="error-alert">
    <% if flash[:error].is_a?(String) %>
      <div class="form-control">
        <h4 style="color: red;"><%= flash[:error] %></h4>
      </div>
  </div>
<% end %>
<%end%>


<% if flash[:errors].present? %>
  <div class="flash-errors">
    <h2>Error:</h2>
    <ul>
      <% flash[:errors].each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

     <br>
  <%# <center>
  <h1>Summary of all Urls Shortened in the pdf</h1>

  <div class="length">
  <hr class="my-4">
   
  
   </center>   
   </div> %>
<div class="con">


   <input type ="button" class="btn-primary " id="btnclick" value="go back to shorten page">

   <br><br>>
<% if @imported_urls.present? %>

<center>
  <div class="btn">
      <a href="/upload_download">
        <h4>
          <i style="color:red;" class="fas fa-download"> Click here to download</i>
          
        </h4>
      </a>
  </div>  


    <table class="super-table">
      <thead>
        <tr>
          
          <th><center>Urls count</center></th>
          <th><center>Original URL</center></th>
          <th><center>Shortened URL</center></th>
         
        
        </tr>

      </thead>
      <tbody>
        <% count = 0%>
         <% @imported_urls.each do |url| %>
          <tr>
            <td><%= count += 1 %></td>
            <td> <a href = <%= url[:original_url] %> target="_blank" > <%= url[:original_url] %> </a></td>
            <td > <a href= <%= url[:shortened_url] %>  target="_blank">    <p class="hoveers"><%= url[:shortened_url] %>     </p>    </a>   <span style="margin-left:20px;"><i class="fa fa-copy" class="btn-primary1" type="button"  onclick="copyText('<%= url[:shortened_url] %>')"></i> </span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   
  <% else %>
  <div class="container">
    <center>
     <h1 style="color:white;">No URLs found</h1>
    </center>
    </div>

  <% end %>
  </div>
  </div>
  </body>
  
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 


<script>
  document.getElementById('btnclick').addEventListener('click', function() {
    window.location.href = "/upload"; 
  });
  
  function copyText(shortenedUrl) {
    var inputField = document.createElement("input");
    document.body.appendChild(inputField);
    inputField.setAttribute('value', shortenedUrl);
    inputField.select();
    document.execCommand('copy');
    document.body.removeChild(inputField);
    alert("Copied the text: " + shortenedUrl);
  }

  $(document).ready(function() {
    if ($('#alert').length > 0) {
      $('#alert').delay(3000).fadeOut('slow');
    }

    if ($('#error-alert').length > 0) {
      $('#error-alert').delay(8000).fadeOut('slow');
    }
  });

</script>

</html>
